<h1> my tips </h1>

<ul>
  <% @results.each do |res| %>
    <li>
      <strong><%= res["venue"]["name"] %></strong><br>
      <%= res["tip"]["text"] %>
    </li>
  <% end %>
</ul>
<br>
<br>

resp <br>
<%= @json %>
<br>
<br>

results <br>
<%= @results %>